body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text,
.textarea,
.text-converted {
  width: 70%;
}

.text-converted {
  margin: 0 auto;
  text-align: start;
}
.text {
  margin: 0 auto;
}

.textarea {
  height: 15rem;
  padding: 1em;
  border-radius: 30px;
  border: 3px solid steelblue;
  font-family: inherit;
}

.textarea:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: steelblue;
  color: white;
}

.link {
  color: inherit;
}
